body{
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 30px;
    margin-top: 30px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh;
    width: auto;
}

.row{
    border-left: black;
}